<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comment.Name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>FoodItem:</strong>
  <%= @comment.food_item %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
